body{
    background-image:url(/project/assests/image/fon.png),
    url(/project/assests/image/fon1.png);  
    height: 768px, 768px;
    width: 1034px,1034px; 
    background-repeat: no-repeat, repeat; 
}
.container{
    width: 642px;
    height: 690px;
    background-color:white;
    margin: 0 auto;
    margin-top: 63px;

    background-image:url(/project/assests/image/header@1X.png);
    background-size: 642px, 116px;
    background-repeat: no-repeat;
}
h1{
    text-align:center; 
    font-style:bold; 
    font-size:14pt;
}
